
.flex-container{
    align-items: center;
    overflow: hidden;
    display: flex;
    width: auto;
}

h1, h2 {
    text-align: center;
}

p {
    margin-left: 10px;
}

img {
    float: left;
    max-width: 50vh;
    max-height: 50vh;
    margin: 10px;
    border-style: solid;
    border-width: 2px;
}
