
p{
    text-align: center;
    font-size: 20px;
}

li{
    font-size: 25px;
    margin-block: 10px;
}

li a{
    color: azure !important;
    font-weight: bold;
}

li a:hover{
    color: beige !important;

}

#ToysProducts {
margin-top: 10px;
}

#map {
    height: 400px; 
    width: auto;
  }

