  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  
  .container, body {
    max-width: 1240px !important;
    width: calc(100vw - 4em) !important;
    margin: 0 auto !important;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background: var(--altColor100);
    font-family: 'PT Sans', sans-serif;
  }

  h1 {
    font-size: calc(5vw + 1rem);
    color: var(--black900);
    line-height: calc(6vw + 2rem);
    padding-bottom: calc(1.2vw + 0.3rem);
    padding-top: calc(1.2vw + 0.15rem);
  }
  
  h2 {
    font-size: calc(2vw + 1.2rem);
    color: var(--black800);
    line-height: calc(100% * 1.35);
    padding-bottom: calc(1rem * 0.375);
    padding-top: calc(1rem * 0.75);
  }
  
  h4 {
    font-size: calc(0.55vw + 1.25rem);
    color: var(--black600);
    line-height: calc(100% * 1.2);
    padding-bottom: calc(1rem * 0.375);
    padding-top: calc(1rem * 0.55);
  }
  
  p {
    font-size: calc(0.35vw + 1rem);
    line-height: calc(100% * 1.4);
    margin: calc(1rem * 1.25) 0;
  }
  
  .title {
    font-weight: bold;
    font-style: italic;
    font-size: calc(5vw + 1rem);
    color: black;
    font-family: 'Ubuntu';
  }
  
  .subtitle {
    font-weight: bold;
    font-style: normal;
    font-size: calc(5vw + 1rem);
    color: black;
    font-family: 'ubuntu';
  }
  
  .header {
    background-color: #5b5748a0;
    text-align: center;
  }
  
  .subheader {
    background:
    linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.25));
    text-align: center;
  }
  
  .lightBlue {
    background: url('./images/lightblue.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
  }
  
  .lightGold {
    background: url('./images/lightgold.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
  }

  .backlist {
    margin-bottom: 15px;
  }